body {
    background-color: rebeccapurple;
}

.home-header {
    color: red;
}

.menu-header {
    color: red;
}

.about-header {
    color: red;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: beige;
}