body {
    background-color: rebeccapurple;
}

.home-header {
    color: red;
}

.menu-header {
    color: red;
}

.about-header {
    color: red;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: beige;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 2px solid white;
    margin-bottom: 30px;
}

.about-content {
    color: red;
    width: 70vw;
    font-size: 30px;
}